.headerContainer {
  display: flex;
  position: fixed;

  top: 0;

  width: 100vw;

  margin: 15px;
  margin-top: 15px;

  background: none;
  background-color: transparent;

  z-index: 100;
}

.headerLogo {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 24px;
  width: 100px;

  margin-top: 7px;
}

.logo {
  height: 14px;
  width: 100px;
}

.headerCenter {
  display: flex;
  flex: 1;

  justify-content: center;
}

.headerCenter p {
  margin: 10px;
  text-transform: uppercase;
}

.headerRight {
  display: flex;

  justify-content: flex-end;

  margin-right: 15px;

  text-transform: uppercase;
}

.headerRight p {
  margin: 10px;
  text-transform: uppercase;
}
